.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row{    
    margin-left: 10px;
    margin-right: 5px;
        
}
img {
    height: 40px;
}
.logo {
    float: left;
}
.redes { 
    float: right;
    margin-right: 5px;
   
        }
.btn {
    border-width: medium;
    float: right;
    margin-left: 10px;
    
}

 
          

