<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> <img src= "https://media.discordapp.net/attachments/761680069675450412/951203196104228974/fotoperfil.jpg?width=611&height=611" class="img-fluid" id="fotoperfil" alt="">
</div>

<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre"> Braulio Nicolas Garro</p>
    <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Aceca de mi</h1>
        <p> asdewsdasdasd asdasdasdasdasdas d asd asd asdas agasf asdasd d</p>
    </span>
</div>
</div>




