.row{
padding: 20px;
margin-left: 10px;
margin-right:10px; 
    background-image: url(src\assets\fondo.png);    
    background-size: cover;
}

#fotoperfil{
    margin-left: 15px;
}


.div{
    background-color: blue;
    text-align: center;
}
#nombre{
    font-weight: bold;
}
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 120px;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        top: 200px;
        left: 3PX;
    }

  }
  @media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        top: 200px;
        left: 40%;
    }
   
    
  }